/* core stuff */
* {
    --logo-green: #113E3B;
    --logo-white: rgb(244,247,253);
}

html {
    font-family: 'Questrial', sans-serif;
    letter-spacing: .05rem;
}

h1 {
    font-size: 2rem;
}

/* utility classes */

.flex {
    display: flex;
}

.strike-through {
    text-decoration: 3px line-through;
}

/* component styling */
/* header */
.header-logo {
    width: 40%;
}

header {
    background-color: var(--logo-green);
    justify-content: flex-start;
    align-items: center;
    padding: 0 2%;
}
/* nav */
nav {
    justify-content: space-evenly;
    padding: 1.5rem 0;
}

nav li {
    justify-content: center;
    align-items: center;
    width: 10rem;

}
nav a {
    font-size: 1rem;
    color: var(--logo-white);
    transition: all .4s;
    letter-spacing: .2rem;
    padding: .5rem;
    border-bottom: 2px solid var(--logo-green);



}

nav a:hover {
    background-color: var(--logo-green);
    border-bottom: 2px solid var(--logo-white);
}
/* main */

main {
    flex-direction: column;
    align-items: center;
}

main>* {
    width: 70vw;
}

h1 {
    color: var(--logo-green);
    font-size: 3rem;
    text-align: center;
    font-family: "Sen", monospace;
    font-weight: 800;
    /* border-bottom: 3px solid; */
}

h2 {
}

/* contact form */
#contact {
    background-color: var(--logo-green);
    color: var(--logo-white);
    padding: 1rem;
}
#contact-form {
    flex-direction: column;
    align-items: center;
}
[name="issue-input"] {
    width: 50rem;
    resize: both;
}