/* core stuff */
* {
    --logo-green: #113E3B;
    --logo-white: rgb(244,247,253);
}

html {
    font-family: 'Questrial', sans-serif;
    letter-spacing: .05rem;
}

h1 {
    font-size: 2rem;
}

/* utility classes */

.flex {
    display: flex;
}

.strike-through {
    text-decoration: 3px line-through;
}

.emphasized {
    font-family: "Sen", monospace;
    font-weight: 900;
}

.green-section {
    background-color: var(--logo-green,green);
    color: var(--logo-white);
}
/* component styling */
/* header */
.header-logo {
    width: 40%;
}

header {
    background-color: var(--logo-green);
    justify-content: flex-start;
    gap: 5%;
    align-items: center;
    padding: 0 2%;
}

header img {
flex-shrink: none;
}
/* nav */
nav {
    padding: 1.5rem 0;
    padding-top: 3rem;
    width: 40%;
}

nav li {
    width: auto;
    padding: 0 1rem;
}
nav a {
    font-size: 1rem;
    color: var(--logo-white);
    transition: all .4s;
    letter-spacing: .2rem;
    padding: .5rem;
    border-bottom: 2px solid var(--logo-green);



}

nav a:hover {
    background-color: var(--logo-green);
    border-bottom: 2px solid var(--logo-white);
}
/* main */

main {
    flex-direction: column;
    align-items: center;
}

#siteUse{
    display: inline-block;
    width: 15rem;
}
h1 {
    color: var(--logo-green);
    font-size: 3rem;
    text-align: center;
    font-family: "Sen", monospace;
    font-weight: 800;
}

div.selling {
    flex-direction: column;
    align-items: center;
}

#portfolio {
    width: 100%;
}

#process {
    width: 100%;
    min-height: 5rem;
}

/* contact form */
#contact {
    background-color: var(--logo-green);
    color: var(--logo-white);
    padding: 1rem;
}
#contact-form {
    flex-direction: column;
    align-items: center;
}
[name="issue-input"] {
    width: 50rem;
    resize: both;
}

/* .bakery, .art {
    display: inline-block;
    width: min-content;
    transition: all 1s;
}
.bakery::after {
    content: "bakery";
    background-color: fuchsia;
    transition: content 1s;

} */

/* .art::after {
    content: "art";
    background-color: blue;
    transition: content 1s;
} */



/* ANIMATION */
/* 
 * By default we mark text with 0 opacity and 
 * transition here is used for leaving state
 */
/* .text {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    opacity: 0;
    transition: opacity 225ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  } */
  
  /* 
   * This class is for fade in effect which remains 
   * even after transiton is over
   */
  /* .fade {
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  } */