/* core stuff */
* {
    --logo-red: #FF3435;
    --logo-white: rgb(244,247,253);
    --accent-red:rgb(160, 4, 14);
}

html {
    font-family: 'Questrial', sans-serif;
    letter-spacing: .05rem;
}

/* utility classes */

.flex {
    display: flex;
    align-items: center;
    width: 100%;
}


/* component styling */

.header-logo {
    width: 100%;
}

nav {
    justify-content: space-evenly;
    /* margin-top: -2rem; */
    /* background-color: var(--logo-red); */
    padding-top: 2rem;

}
nav a {
    display: block;
    line-height: 3rem;
    text-align: center;
    width: 15rem;
    font-size: 1.2rem;
    border: 3px solid var(--logo-red);
    color: var(--logo-red);
    border-radius: 10px;
    transition: all .15s;
}

nav a:hover {
    background-color: var(--logo-red);
    color: var(--logo-white);
    border-radius: 10px;
}
